@import 'tailwindcss';

html {
  background-color: #f1ede6;
  font-family: sans-serif;
  height: 100%;
}

html.dark {
  background-color: #282828;
  color: #EBDBB2;
}

.dark .nav-links a {
  color: #EBDBB2;
}

/* body {
  margin: 0 auto;
  width: 100vw;
  padding: 2rem 2rem 2rem 2rem;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
