@import 'tailwindcss';

html {
  background-color: #ffffff;
  height: 100%;
}

html.dark {
  background-color: #282828;
  color: #EBDBB2;
}

.dark .nav-links a {
  color: #EBDBB2;
}

/* body {
  margin: 0 auto;
  width: 100vw;
  padding: 2rem 2rem 2rem 2rem;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

* {
  box-sizing: border-box;
}

@layer base {
  body {
  }
  h1 {
    @apply text-[#541409] text-center text-4xl md:text-5xl font-bold mb-8;
  }
  h3 {
    @apply text-2xl md:text-3xl font-bold text-[#220d0c] mb-4;
  }
}
