@import 'tailwindcss';

:root {
  --font-normal: "Montserrat", sans-serif;
  --font-title: "Bodoni Moda", serif;
}

html {
  background-color: #ffffff;
  height: 100%;
}

html.dark {
  background-color: #282828;
  color: #EBDBB2;
}

.dark .nav-links a {
  color: #EBDBB2;
}

* {
  box-sizing: border-box;
}

@layer base {
  body {
    font-family: var(--font-normal);
  }
  h1 {
    font-family: var(--font-title);
    @apply text-[#541409] text-center text-4xl md:text-5xl font-bold mb-8;
  }
  h2 {
    font-family: var(--font-title);
  }
  h3 {
    font-family: var(--font-title);
    @apply text-2xl md:text-3xl font-bold text-[#220d0c] mb-4;
  }
}

/* Utility classes */
.normal-font {
  font-family: var(--font-normal);
}

.title-font {
  font-family: var(--font-title);
}
