---
// No props needed for this static header
---
<header class="bg-[#a48374] text-[#f1ede6] py-1">
  <div class="container mx-auto flex justify-center items-center px-2 md:px-2">
    <nav>
      <ul class="flex gap-4 text-3xl md:text-4xl">
        <li><a href="/" class="hover:underline">Home</a></li>
        <li><a href="/posts" class="hover:underline">Proyectos</a></li>
        <li><a href="/assisting" class="hover:underline">Asistente</a></li>
        <li><a href="/contact" class="hover:underline">Contacto</a></li>
      </ul>
    </nav>
  </div>
</header>
